.root {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  max-width: 100%;
}

.root label {
  width: auto;
}
.floating_textArea {
  width: 100%;
  min-height: 100px;
  max-width: 100%;
  max-height: 100px;
}
.floating_label {
  position: relative;
  /*margin-bottom: 10px;*/
  width: 100%;
}
.error_floating_textArea {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.error_floating_textArea {
  font-size: 14px;
  padding: 12px;
  display: inline-flex;
  border: 1px solid var(--error);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  background-color: transparent;
}
.floating_textArea,
.floating-select {
  font-size: 14px;
  padding: 12px;
  display: inline-flex;
  border: 1px solid var(--accents-2);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  /*border: none;*/
  /*border: 1px solid var(--accents-2);*/
}
/*.floating_textArea:focus:required:not(:placeholder-shown) {*/
/*  border-color: #9ac33d;*/
/*}*/
/*.floating_textArea:required:not(:placeholder-shown) {*/
/*  border-color: #9ac33d;*/
/*}*/

.floating_textArea:focus,
.floating-select:focus {
  outline: 0;
  border: 1px solid var(--accents-8);
}
.error_floating_textArea:focus,
.floating-select:focus {
  outline: 0;
  border: 1px solid var(--error);
}

.label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating_textArea:focus ~ label,
.floating_textArea:not(:placeholder-shown) ~ label {
  top: -9px;
  font-size: 14px;
  color: var(--foreground);
  background: var(--accents-1);
  width: auto;
  padding: 0px 4px;
}
.error_floating_textArea:focus ~ label,
.error_floating_textArea:not(:placeholder-shown) ~ label {
  top: -9px;
  font-size: 11px;
  color: var(--error);
  background: white;
  width: auto;
  padding: 0px 4px;
  /*background:#000000*/
}

.floating-select:focus ~ label,
.floating-select:not([value='']):valid ~ label {
  top: -18px;
  font-size: 11px;
  color: #5264ae;
}

.error {
  color: var(--error);
  /*padding: 0 8px;*/
}
.empty {
  background: transparent;
  height: 16.09px;
  width: 100%;
  margin-bottom: 10px;
}
/* active state */
.floating_textArea:focus ~ .bar:before,
.floating_textArea:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

/**, *:before, *:after {*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.floating_textArea:focus ~ .highlight,
.floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.large {
  height: 50px;
  font-size: 1rem;
}
