.nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--header-background);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(5px);
}

[data-theme='dark'] .nav {
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.wrapper {
    height: 100%;
}

.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    width: 100%;
}

.logo {
    font-weight: 800;
    color: var(--foreground);
    text-decoration: none;
    /*background: red;*/
}

.user {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.popover {
    top: 100%;
    right: 0;
    position: absolute;
    z-index: 20;
}

.menu {
    background: var(--background);
    color: var(--foreground);
    box-shadow: var(--shadow-medium);
    border-radius: 5px;
    display: inline-block;
    min-width: 220px;
}

.item {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--foreground);
    display: block;
    width: 100%;
    align-items: center;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
    text-align: left;
    transition: ease 0.2s;
    transition-property: background color;
    font-weight: medium;
}

.item:focus,
.item:hover {
    color: var(--foreground);
    background: var(--accents-1);
}

.rightContainer {
    display: flex;
}

.menuButton {
    display: none;
}

.drawerContainer {
    display: none;
}

@media only screen and (max-width: 600px) {
    .content {
        /*justify-content: center !important;*/
        padding: 0;
    }

    .rightContainer {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .drawerContainer {
        width: 100vw;
        height: 100vh;
        z-index: 200;
        position: fixed;
        top: -100%;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: #080307;
        transition: all 0.3s ease-in-out 0s;
        opacity: 0;
    }
    .drawerContainerOpen {
        width: 100vw;
        height: 100vh;
        z-index: 200;
        position: fixed;
        /*top: 0;*/
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: #080307;
        transition: all 0.3s ease-in-out 0s;
        opacity: 1;
        top: 0;
    }

    .drawerClose {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 16px;
    }

    .drawerNav {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 52px);
        overflow: auto;
    }

    .navItem {
        /*background: green;*/
        width: 100%;
        margin: 0;
        padding: 16px 32px;
        /*font-weight: bold;*/
        font-size: 18px;
    }

    .isActive {
        width: 100%;
        /*background: blue;*/
        color: rgb(242, 150, 12);
        margin: 0;
        padding: 16px 32px;
        /*font-weight: bold;*/
        font-size: 18px;
    }
}
