.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - var(--nav-height));
}
.sub_main {
  max-width: 600px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  flex: 1 1;
  align-self: center;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.button_content {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
