/* Inspired by Vercel design */
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --background: #fff;
    --foreground: #000;
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
    --success-light: #3291ff;
    /*--success: #0070f3;*/
    --success: #0f75bc;
    --success-dark: #0761d1;
    --error-light: #ff1a1a;
    /*--error: #e00;*/
    --error: #ed2228;
    --error-dark: #c50000;
    --secondary: #666;
    /* SBP */
    --color-red: #ed2228;
    --color-yellow: #fcae1b;
    --color-green: #9ac33d;
    --color-green-dark: #7b9c30;
    --color-blue: #0f75bc;
    --color-dark-blue: #1869b0;
    --header-background: hsla(0, 0%, 100%, 0.8);
    --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

    --link: var(--color-yellow);
    --nav-height: 5rem;
}

[data-theme='dark'] {
    --foreground: #fff;
    --background: #000;
    --accents-8: #fafafa;
    --accents-7: #eaeaea;
    --accents-6: #999;
    --accents-5: #888;
    --accents-4: #666;
    --accents-3: #444;
    --accents-2: #3e3e3e;
    --accents-1: #111;
    --secondary: var(--accents-5);
    --header-background: rgba(0, 0, 0, 0.5);
    --shadow-smallest: 0 0 0 1px var(--accents-2);
    --shadow-medium: 0 0 0 1px var(--accents-2);
    --shadow-large: 0 0 0 1px var(--accents-2);
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--foreground);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
        url('../../public/static-bg.png');
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    transition: all 0.2s ease-in-out;
}

a,
a:visited {
    color: var(--foreground);
    text-decoration: none !important;
}

a:hover {
    color: var(--color-yellow);
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555657;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

@media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
}
